* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.inter-font-new {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

header {

    background: url("../assets/hero-bg.png"), url("../assets/hero-circle.png"), #1A0B2E;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-microphone {

    background: url("../assets/hero-circle.png"), #1A0B2E;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.container {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;

}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 71%;

    max-width: 1440px;
    margin: 0 auto;
}

nav {
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    list-style-type: none;
    gap: 51px;
    align-items: center;
}


nav .menu a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    background: linear-gradient(to right, #Fc72FF, #8F68FF, #487BFF, #8F68FF, #FC72FF);
    cursor: pointer;
    border-radius: 8px;
}


/* .bg-light { 
    background: linear-gradient(to right, #Fc72FF, #8F68FF, #487BFF, #8F68FF, #FC72FF); 
} */
/* .bg-light {
    color: #1A0B2E;
} */

#logo-text {
    color: #FFFFFF;
}

/* .text-light {
    color: linear-gradient(to right, #Fc72FF, #8F68FF, #487BFF, #8F68FF, #FC72FF);
} */

/* .hero-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
} */

/* .hero-section img {
    align-items: center;
} */

.primary {
    background: #6cf2c2;
    color: #000;
}

.secondary {
    background: transparent;
    border: 1px solid #6cf2c2;
    color: #6cf2c2;
}

#hero {
    align-items: center;
    text-align: center;

}

.hero-content h1 {
    font-size: 65px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 15px;
}

/* #about {
    padding-top: 30px;

} */

#about .about-content {
    padding-top: 30px;
    text-align: center;
    background-color: #1A0B2E;
    padding: 131px 156px;
}

.about-content h1 {
    font-size: 65px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.about-content p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 15px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 160px;

}

.stats h3 {
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
    padding-bottom: 16px;
}


.stats div {

    padding: 20px;
    border-radius: 12px;
}

#indicator {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;

}




/* #logo {
    text-transform: linear-gradient(to right, #Fc72FF, #8F68FF, #487BFF, #8F68FF, #FC72FF);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */